# Prevent your server from sending the version of the server
ServerSignature Off


# Prevent from being able to ping this domain
RewriteEngine on
RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
RewriteRule .* - [F]


# Users' browser will be forced to visit the HTTPS version of your web app
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"


# Enable text compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE text/css
	AddOutputFilterByType DEFLATE image/png
</IfModule>


# Preventing script injection
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{QUERY_STRING} (<|%3C).*script.*(>|%3E) [NC,OR]
	RewriteCond %{QUERY_STRING} GLOBALS(=|[|%[0-9A-Z]{0,2}) [OR]
	RewriteCond %{QUERY_STRING} _REQUEST(=|[|%[0-9A-Z]{0,2})
	RewriteRule .* index.html [F,L]
</IfModule>
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
</IfModule>

