.transition {
  transition: 0.25s all ease-out;
}

[data-lazy] {
  @apply opacity-0 w-full;
  transition: opacity 0.25s ease-in;
  min-height: 120px;
}

.loaded {
  @apply opacity-100;
}

.inner {
  @apply flex flex-col w-full justify-center px-6;
}